<nav id="navbar">
  <img src="/img/logo-2.png" alt="">
  <ul>
   <li><a href="/" class="<%= path === '/' ? 'active' : '' %>" >Home</a></li>
   <li><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a></li>
   <li style="color: red;"><a href="/add-product" class="<%= path === '/add-product' ? 'active' : '' %>">Add Products</a></li>
   <li><a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">Admin</a></li>
  </ul>
</nav>